.LotteryBall {
  background-color: lightcoral;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.5rem;
  box-shadow: -1px 2px 6px 0 #5c5a5a;
}